# Environemnts
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.local
.env*.local
.env*

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*

# dependencies
/node_modules

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts